* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/***********************************************NAVBAR CSS************************************************************/
.navbar a {
  padding: 20px;
  float: right;
  align-items: center;
  margin-top: 0%;
  text-decoration: none;
  margin-left: auto;
}

.logo img {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  float: left;
}

.navbar .links a {
  color: black;
}

.navbar a:hover {
  color: #FF006B;
  background-color: black;
}

.navbar a:active {
  color: limegreen;
}

/************************************************HOME STYLING*********************************************************/
.home {
  background-image: url("../public/Mass.jpg");
  height: 100vh;
  
}

.home .profile img {
  height: 300px;
  width: 300px;
  object-fit: fill;
  border-radius: 50%;
  margin-right: auto;
  margin-top: 10%;
  margin-left: 43%;
  
}

.home h1 {
  color: #FF006B;
  text-align: center;
}

.home p {
  text-align: center;
  color: white;
}


/*********************************HOME CSS END************************************/

/*********************************ABOUT PAGE CSS BEGINS***************************/

.container {
  display: flex;
  margin: auto;
  justify-content: center;
}

#discover {
  flex-direction: column;
  margin-top: 10%;
  font-size: 18px;
  color: #FF006B;
}

.text {
  
  margin-top: 40px;
  margin-left: 20px;
}

#msg {
  margin-top: 5px;
}

#bio {
  margin-top: 50px;
  color: white;
  border: 1px solid #FF006B;
  width: 100%;
}

.aboutpage {
  background-color: rgb(67, 3, 60);
  color: white;
}

hr{
 
  border-color: #FF006B ;
}
/*box in about page*/

.container ul li {
  font-weight: normal;
  padding: 5px;
  margin-left: 20px;
}

/*******About me image styling*********/
.aboutpage .container img {
  height: 500px;
  width: 500px;
 
  margin-top: 15%;
  padding-left: 100px;
  position: relative;
}

button{
  background-color: #FF006B;
  color: white;
  border: none;
  text-decoration: none;
  font-size:larger;
  border-radius: 50px;
  height: 50px;
  width: 200px;
  margin-top: 30px;
  
}

/******************************************SERVICES PAGE*******************************************************************/
.services{
  background-color: rgb(105, 4, 93);
  height: 50vh;
  margin: 0;
  padding: 0;
  color: white;
}
.services-boxes{
  display: flex;
  margin-top: 40px;
}

.services-boxes .box{
  border: 1px solid #FF006B ;
  padding: 0px;
  margin-left: 100px;
  margin-right: 10px;
  width: 50%;
  height: 300px;
}

 .box-text{
  text-align: center;
  margin-top: 90px;
}
/*************************************************FOOTER************************************************************/
.Footer{
  height: 40vh;
  background-color:rgb(88, 2, 78) ;
}
.footer-column{
  display: flex;
  text-align: center;
  margin: 0;
  justify-content: center;
  /*margin-top: 100px;*/
}

 .column1{
  flex-direction: column;
  padding: 90px;
  text-align: center;
  margin: 0;

}
/************************************************RESUME***************************************************************/
.Resume-title{
  float: right;
}
.Resume{
  background-color: rgb(105, 4, 93);
  height: 70vh;
}

.bt{
  background-color: #FF006B;
  color: white;
  border: none;
  text-decoration: none;
  font-size:larger;
  border-radius: 50px;
  height: 100px;
  width: 400px;
  margin-top: 30px;
  align-items: center;
  
}